<div class="row justify-content-around">
    <div class="col-4">
        <!-- Hours Form -->
        <div id="hours-bg">
            <form id="hours-form" name="hoursForm">
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="week">Week</label>
                        <input class="form-control" type="number" name="week" id="week" placeholder="Week" ng-model="$ctrl.form.Week">
                    </div>
                    <div class="form-group col-8">
                        <label for="date">Date</label>
                        <input class="form-control" type="text" name="date" id="date" placeholder="Date" ng-model="$ctrl.form.Date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="direct">Direct</label>
                        <input class="form-control" type="number" name="direct" id="direct" placeholder="Direct" ng-model="$ctrl.form.DirectClientContact">
                    </div>
                    <div class="form-group col">
                        <label for="indirect">Indirect</label>
                        <input class="form-control" type="number" name="indirect" id="indirect" placeholder="Indirect" ng-model="$ctrl.form.IndirectClientHours">
                    </div>
                    <div class="form-group col">
                        <label for="supervision">Supervision</label>
                        <input class="form-control" type="number" name="supervision" id="supervision" placeholder="Supervision" ng-model="$ctrl.form.SupervisionHours">
                    </div>
                </div>
                <div class="form-group">
                    <label for="explanation">Explanation of SCE</label>
                    <textarea class="form-control" name="explanation" id="explanation" placeholder="Explanation of SCE" cols="20" rows="6" ng-model="$ctrl.form.ExplanationOfSce" />
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <button id="btn-submit" type="submit" ng-show="!$ctrl.editMode" ng-click="$ctrl.createEntry()">Submit</button>
                        <button id="btn-update" type="submit" ng-show="$ctrl.editMode" ng-click="$ctrl.updateEntry()">Update</button>
                    </div>
                    <div class="col-3">
                        <button id="btn-clear" type="submit" ng-click="$ctrl.clearForm()">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Display Hours Entries -->
    <div class="col-4">
        <div ng-repeat="entry in $ctrl.hoursArray">
            <div class="entry" ng-click="$ctrl.editEntry(entry)">
                <button type="submit" class="btn-delete" ng-click="$ctrl.deleteEntry(entry.Id, $event)">X</button>
                <p><span>Week: {{ entry.Week }}</span><span>Date: {{ entry.Date }}</span></p>
                <p><span>Direct: {{ entry.DirectClientContact }}</span><span>Indirect: {{ entry.IndirectClientHours }}</span><span>Supervision: {{ entry.SupervisionHours }}</span></p>
                <p><span>Total: {{ entry.TotalHoursWorked }}</span></p>
                <p><span>Explanation of SCE: {{ entry.ExplanationOfSce }}</span></p>
            </div>
        </div>
    </div>
</div>