<div class="row justify-content-center">
    <div class="col-5">
        <!-- Login Form -->
        <form name="loginForm" ng-show="!$ctrl.registerMode">
            <div class="row text-center">
                <div class="col">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="row form-group form-inline">
                <label class="col-3" for="login">Login</label>
                <input type="text" class="col-9 form-control" name="login" id="login" placeholder="Username or Email" ng-model="$ctrl.loginForm.login" />
            </div>
            <div class="row form-group form-inline">
                <label class="col-3" for="loginPassword">Password</label>
                <input type="password" class="col-9 form-control" name="loginPassword" id="loginPassword" placeholder="Password" ng-model="$ctrl.loginForm.password" />
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-6">
                    <small>Need an account? <a href="#" ng-click="$ctrl.toggleRegister()">Register</a></small>
                </div>
            </div>
        </form>
        <!-- Register Form -->
        <form name="registerForm" ng-show="$ctrl.registerMode">
            <div class="row text-center">
                <div class="col">
                    <h1>Register</h1>
                </div>
            </div>
            <div class="row form-group form-inline">
                <label class="col-3" for="fullName">Full Name</label>
                <input type="text" class="col-9 form-control" name="fullName" id="fullName" placeholder="Jane Doe" ng-model="$ctrl.registerForm.fullName" />
            </div>
            <div class="row form-group form-inline">
                <label class="col-3" for="userName">User Name</label>
                <input type="text" class="col-9 form-control" name="userName" id="userName" placeholder="basketsofsoftkittens88" ng-model="$ctrl.registerForm.userName" />
            </div>
            <div class="row form-group form-inline">
                <label class="col-3" for="email">Email</label>
                <input type="email" class="col-9 form-control" name="email" id="email" placeholder="yourname@mailprovider.com" ng-model="$ctrl.registerForm.email" />
            </div>
            <div class="row form-group form-inline">
                <label class="col-3" for="registerPassword">Password</label>
                <input type="password" class="col-9 form-control" name="registerPassword" id="registerPassword" placeholder="Password" ng-model="$ctrl.registerForm.password" />
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-5">
                    <small>Have an account? <a href="#" ng-click="$ctrl.toggleRegister()">Login</a></small>
                </div>
            </div>
        </form>
    </div>
</div>