/***** General *****/
body {
    background-image: url(img/bg-image.jpg);
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.tagline {
    margin: 160px 0px 40px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    letter-spacing: 0.5px;
}

a:hover {
    color: #00A752;
}

input,
textarea {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 5px;
    color: #FFFFFF;
}

    input:focus,
    textarea:focus {
        outline: none;
    }

small a {
    color: #00A752;
}

.white-line {
    border-top: 3px solid #FFFFFF;
}


/***** Header & Navigation Bar *****/
#nav-bar {
    background-color: rgba(0, 0,0, 0.5);
    letter-spacing: 0.5px;
}

#logo {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 58px;
    color: #FFFFFF;
}

#nav-links a {
    color: #FFFFFF;
    font-size: 24px;
}

    #nav-links a:hover {
        color: #00A752;
        text-decoration-line: underline;
        transition: 0.2s;
    }

li.active {
    text-decoration-line: underline;
}

.navbar {
    margin-bottom: 40px;
}

.nav-item {
    margin: 0px 15px;
}


/***** Buttons *****/
#btn-login,
#btn-register,
#btn-submit,
#btn-update,
#btn-clear {
    margin: 10px 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 5px 25px;
}

    #btn-login:hover,
    #btn-register:hover,
    #btn-submit:hover,
    #btn-clear:hover,
    #btn-update:hover,
    .btn-delete:hover {
        box-shadow: 0 4px 8px 0 #000000;
        text-shadow: 0 0 10px #FFFFFF;
        transition: 0.1s;
    }

#btn-login,
#btn-register,
#btn-submit,
#btn-update {
    background-image: linear-gradient(-179deg, #00A752 13%, #006E29 93%);
}

#btn-clear {
    background-image: linear-gradient(-179deg, #8A8A8A 13%, #585858 93%);
}

.btn-delete {
    background-image: linear-gradient(-179deg, #A90000 15%, #570101 93%);
    margin: 10px 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px;
    border: none;
}


/* Hours View */
#hours {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding-top: 25px;
    margin-top: 80px;
    font-size: 24px;
}


/***** Hours Input Form *****/
#hours-bg {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

#hours-form {
    padding: 15px;
}

    #hours-form input,
    #hours-form textarea {
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 1);
    }

        #hours-form input:focus {
            outline-color: #00A752;
        }

.form-group {
    margin-bottom: 0px;
    margin-top: 1rem;
}

/***** Edit Hours Entry Display *****/
.entries {
    height: 760px;
    overflow: auto;
}

.entry {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

    .entry:hover {
        box-shadow: 0 0 5px #00A752;
        transition: 0.1s;
    }

    .entry p span {
        margin: 0 10px;
    }

.btn-delete {
    float: right;
}
